@model IEnumerable<DeluxeModel.product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CartPage</title>
    @Html.Partial("_CartNav")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <link href="~/Content/Cart/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Cart/mdb.min.css" rel="stylesheet">

    <style>
        @@media only screen and (max-width: 768px) {
            /* Force table to not be like tables anymore */
            table,
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
                text-align: center;
            }

                table.table td {
                    padding-top: 1.5rem;
                    padding-bottom: .4rem;
                }

            img {
            }
            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            img {
                display: block;
                margin: 0 auto;
            }

            td {
                /* Behave  like a "row" */
                border: none;
                position: relative;
                padding-left: 50%;
            }

                td:before {
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 6px;
                    left: 6px;
                    white-space: nowrap;
                }

                td:nth-of-type(1):before {
                    content: "Product";
                    font-weight: 400;
                    left: 50%;
                    transform: translate(-50%);
                }

                td:nth-of-type(2):before {
                    content: "Color";
                    font-weight: 400;
                    left: 50%;
                    transform: translate(-50%);
                }

                td:nth-of-type(3) {
                    position: absolute;
                    border: none !important;
                }

                td:nth-of-type(4):before {
                    content: "Price";
                    left: 50%;
                    transform: translate(-50%);
                    font-weight: 400;
                }

                td:nth-of-type(5):before {
                    content: "QTY";
                    left: 50%;
                    transform: translate(-50%);
                    font-weight: 400;
                }

                td:nth-of-type(5) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding-top: 1.9rem !important;
                }

                td:nth-of-type(6):before {
                    content: "Amount";
                    left: 50%;
                    transform: translate(-50%);
                    font-weight: 400;
                }

                td:nth-of-type(7):before {
                    content: "Remove item";
                    left: 50%;
                    transform: translate(-50%);
                    font-weight: 400;
                }

            .btn-group {
                margin-left: 0 !important;
            }

            tr:nth-child(4) td:nth-of-type(4):before,
            tr:nth-child(4) td:nth-of-type(1):before,
            tr:nth-child(4) td:nth-of-type(2):before {
                content: '';
            }

            tr:nth-child(4) td:nth-of-type(1) {
                position: absolute;
                border: none !important;
            }

            tr:nth-child(4) td:nth-of-type(3) {
                position: relative;
                display: flex;
                justify-content: center;
            }

            tr:nth-child(4) td:nth-of-type(4) {
                border-top: none !important;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid #dee2e6;
            }
        }
    </style>
</head>

<body>
    <main>
        <div class="container">

            <section class="section my-5 pb-5">

                <!-- Shopping Cart table -->
                <div class="table-responsive">

                    <table class="table product-table" id="productcontent">

                        <!-- Table head -->
                        <thead>
                            <tr>
                                <th></th>
                                <th class="font-weight-bold">
                                    <strong>Product</strong>
                                </th>

                                <th></th>
                                <th class="font-weight-bold">
                                    <strong>Price</strong>
                                </th>
                                <th class="font-weight-bold">
                                    <strong>QTY</strong>
                                </th>

                                <th class="font-weight-bold">
                                    <strong>Change Qty</strong>
                                </th>

                                <th class="font-weight-bold">
                                    <strong>Amount</strong>
                                </th>

                                <th class="font-weight-bold">
                                    <strong>Remove Product</strong>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- /.Table head -->
                        <!-- Table body -->
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td hidden>
                                    @item.ID
                                </td>
                                <th scope="row">
                                    <img src="~/App_File/Images/@item.prd_img" alt="" class="img-fluid z-depth-0">
                                </th>

                                <td>
                                    <h5 class="mt-3">
                                        <strong>@item.prd_name</strong>
                                    </h5>
                                    <p class="text-muted">@item.prd_desc</p>

                                </td>

                                <td></td>
                                <td>@item.price</td>
                               
                                    <td class="text-center text-md-left">
                                        <span class="qty" id="spanamnt">1</span>
                                    </td>
                                

                                <td>


                                    <div class="btn-group radio-group ml-2" data-toggle="buttons">
                                        <label class="btn btn-sm btn-primary btn-rounded_" id="substring">
                                            <input type="radio" name="options" id="option1">&mdash;
                                        </label>
                                        <label class="btn btn-sm btn-primary btn-rounded" id="increment">
                                            <input type="radio" name="options" id="option2">+
                                        </label>
                                    </div>

                                </td>

                                <td class="font-weight-bold">
                                    <strong></strong>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Remove item">
                                        X
                                    </button>
                                </td>
                            </tr>
                                
                            }

                            <tr>
                                <td colspan="3"></td>
                                <td>
                                    <h4 class="mt-2">
                                        <strong>Total</strong>
                                    </h4>
                                </td>
                                <td class="text-right">
                                    <h4 class="mt-2">
                                        <strong>@ViewBag.TotalSum</strong>
                                    </h4>
                                </td>
                                <td colspan="3" class="text-right">
                                    <a class="btn btn-primary btn-rounded" id="btncomplete" >
                                        Complete purchase
                                        <i class="fas fa-angle-right right"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </section>

        </div>
    </main>
    <script type="text/javascript" src="~/Content/Cart/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/Cart/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/Cart/mdb.min.js"></script>
    <script type="text/javascript" src="~/Content/Cart/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript">
       

        $(document).ready(function () {

            $("#productcontent .btn-rounded").click(function () {
               
                var id = $(this).closest("tr").find("td").eq(4).text();
                var number = parseInt(id);
                var lbl = number + 1;
                $(this).closest("tr").find("td").eq(4).text(lbl);
                var price = $(this).closest("tr").find("td").eq(3).text()
                var finalprice = price * lbl;
                $(this).closest("tr").find("td").eq(6).text(finalprice)

                var itemid = $(this).closest("tr").find("td").eq(0).html();
                var parameters = { "id": itemid, "amount": lbl }

                $.ajax({
                    type: "POST",
                    url: "/Demo/UpdateCart",
                    data: JSON.stringify(parameters),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                      
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
              
            });


            $("#productcontent  .btn-rounded_").click(function () {
                var id = $(this).closest("tr").find("td").eq(4).text();
                var number = parseInt(id);
                var lbl = number - 1;
                $(this).closest("tr").find("td").eq(4).text(lbl);
                var price = $(this).closest("tr").find("td").eq(3).text()
                var finalprice = price * lbl;
                $(this).closest("tr").find("td").eq(6).text(finalprice)

                var itemid = $(this).closest("tr").find("td").eq(0).html();
                var parameters = { "id": itemid, "amount": lbl }

                $.ajax({
                    type: "POST",
                    url: "/Demo/UpdateCart",
                    data: JSON.stringify(parameters),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            });

    //    btncomplete
    //        $("#btncomplete").click(function () {
    //            var id = $(this).closest("tr").find("td").eq(0).html();
    //            var finaldata = { "id": id };
              
    //                $.ajax({
    //                    url: "/Demo/DeleteSupplier",
    //                    type: "POST",
    //                    data: JSON.stringify(finaldata),
    //                    dataType: "json",
    //                    contentType: "application/json",
    //                    success: function (response) {
    //                        alert(response);
    //                        location.reload();

    //                    },
    //                    error: function (e) {
    //                        alert("an error has occured" + e);
    //                    }
                        
    //                });
                
           

    });
    </script>
</body>
</html>
