@model IEnumerable<DeluxeModel.product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOutPage</title>
    @Html.Partial("_CartNav")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="~/Content/CheckOut/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/CheckOut/mdb.min.css" />
    <link rel="stylesheet" href="~/Content/CheckOut/style.min.css" />
</head>
<body>
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn">

            <!-- Heading -->
            <h2 class="my-5 h2 text-center">Checkout form</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-8 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <form class="card-body">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6 mb-2">

                                    <!--firstName-->
                                    <div class="md-form ">
                                        <input type="text" id="firstName" class="form-control">
                                        <label for="firstName" class="">First name</label>
                                    </div>

                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-6 mb-2">

                                    <!--lastName-->
                                    <div class="md-form">
                                        <input type="text" id="lastName" class="form-control">
                                        <label for="lastName" class="">Last name</label>
                                    </div>

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->
                            <!--Username-->
                            <div class="md-form input-group pl-0 mb-5">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"></span>
                                </div>
                                <input type="text" class="form-control py-0" placeholder="Username" aria-describedby="basic-addon1">
                            </div>

                            <!--email-->
                            <div class="md-form mb-5">
                                <input type="text" id="email" class="form-control" placeholder="youremail@example.com">
                                <label for="email" class="">Email (optional)</label>
                            </div>

                            <!--address-->
                            <div class="md-form mb-5">
                                <input type="text" id="address" class="form-control" placeholder="1234 Main St">
                                <label for="address" class="">Address</label>
                            </div>

                            <!--address-2-->
                            <div class="md-form mb-5">
                                <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite">
                                <label for="address-2" class="">Address 2 (optional)</label>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

                        </form>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 mb-4">

                    <!-- Heading -->
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill"> @ViewBag.itemCounted </span>
                    </h4>
                    @foreach (var i in Model)
                    {

                        <ul class="list-group mb-3 z-depth-1">
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">@i.prd_name</h6>
                                    <small class="text-muted">@i.prd_desc</small>
                                </div>
                                <span class="text-muted">@i.price</span>
                            </li>




                        </ul>
                    }
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>@ViewBag.TotalSum</strong>
                    </li>

          

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
    </main>
    <script type="text/javascript" src="~/Content/CheckOut/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/CheckOut/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/CheckOut/mdb.min.js"></script>
    <script type="text/javascript" src="~/Content/CheckOut/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.1.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>

    </script>
</body>
</html>
